<div class="card" style="width: 18rem;">
  <img class="card-img-top" src='https://source.unsplash.com/random/300x100' alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= link_to list_name, list_path %></h5>
  </div>
</div>
